header.navbar {
    margin-bottom: 0;
}

header.navbar a {
    color: #333;
}

.info-header {
    background: limegreen;
    color: #d8ffbe;
    padding: 20px 0 40px;
    font-size: 24px;
    margin-bottom: 20px;
}

.info-header h1 {
    color: #ffffff;
    font-size: 60px;
}

.footer {
    height: 40px;
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background: limegreen;
    text-align: right;
    color: #d8ffbe;
}

/*.chapter-description img{*/
/*height: 150px;*/
/*}*/

.items-row h3 {
    text-align: center;
    margin: 20px 0;
}

.item {
    padding: 0 5px;
    color: #333;
}

.item a {
    text-decoration: none;
    color: #333;
}

.item .item-image-container {
    height: 100px;
    overflow-x: hidden;
    text-align: center;
    /*background: red;*/
    /*border: 1px dashed;*/
}

.item .item-image {
    height: 100%;
    /*max-width: 100%;*/
}

.item .name {
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}

.item .description {
    height: 51px;
    font-size: 12px;
}

.tag {
    float: left;
    background: limegreen;
    border-radius: 5px;
    margin: 0 5px 5px 0;
    padding: 0 5px;
    color: #d8ffbe;
}

.tag a {
    text-decoration: none;
    color: #d8ffbe;
    cursor: pointer;
}

.gs-btn {
    background: limegreen;
    color: #d8ffbe;
}

.gs-btn:hover {
    background: inherit;
    color: #333;
}

.alert-info {
    background: limegreen;
    color: #ffffff;
}