<style>
    img {
        height: 100px;
        width: 150px;
    }
</style>


<div class="um-container">
    <div class="row">
        <h4 translate="products"></h4>

        <div>
            <div class="col-md-2" ng-repeat="product in products">
                <img ng-src="{{product.img}}" alt=""/>
                <!--<span ng-bind="product.name"></span>-->
                <span ng-bind="product.description"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <h4 translate="measures"></h4>

        <div>
            <div class="col-md-2" ng-repeat="measure in measures">
                <img ng-src="{{measure.img}}" alt=""/>
                <!--<span ng-bind="measure.name"></span>-->
                <span ng-bind="measure.description"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <h4 translate="categorys"></h4>

        <div>
            <div class="col-md-2" ng-repeat="category in categories">
                <img ng-src="{{category.img}}" alt=""/>
                <!--<span ng-bind="category.name"></span>-->
                <span ng-bind="category.description"></span>
            </div>
        </div>
    </div>

</div>