<style>
    /*.want-btn-container {*/
    /*margin-top: 20px;*/
    /*}*/

    /*.want-btn {*/
    /*background: limegreen;*/
    /*}*/

    /*.want-btn:hover {*/
    /*background: inherit;*/
    /*color: #333;*/
    /*}*/

    .tag {
        float: left;
        background: limegreen;
        border-radius: 5px;
        margin: 0 5px 5px 0;
        padding: 0 5px;
        color: #d8ffbe;
    }

    .tag a {
        text-decoration: none;
        color: #d8ffbe;
        cursor: pointer;
    }
</style>


<div class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4">
    <img ng-src="{{product.img}}"/>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
    <h3 ng-bind="product.name"></h3>

    <div class="description" ng-bind="product.description"></div>
    <div class="clearfix">
        <h4 translate="categories"></h4>

        <div class="tag" ng-repeat="category in product.categories">
            <a ui-sref="categories.view({id:category.id})" ng-bind="category.name"></a>
        </div>
    </div>
    <div class="clearfix">
        <h4 translate="measures"></h4>

        <div class="tag" ng-repeat="measure in product.measures">
            <a ui-sref="measures.view({id:measure.id})" ng-bind="measure.name"></a>
        </div>
    </div>
</div>
<!--<div class="want-btn-container col-xs-12 text-center">-->
<!--<button class="want-btn btn btn-success col-xs-offset-4 col-xs-4">Хочу!</button>-->
<!--</div>-->
