<h1 translate="faq"></h1>

<ul>
    <li><a href="#/faq#q1">Для чего пользователю ноги?</a></li>
    <li><a href="#/faq#q2">Для чего пользователю руки?</a></li>
    <li><a href="#/faq#q3">Для чего пользователю рот?</a></li>
    <li><a href="#/faq#q4">Для чего пользователю уши?</a></li>
    <li><a href="#/faq#q5">Зачем пользователи ходят на обед за рабочим местом?</a></li>
    <li><a href="#/faq#q6">Какие вопросы любят задавать пользователи?</a></li>
    <li><a href="#/faq#q7">Что нужно пользователям для полного счастья?</a></li>
    <li><a href="#/faq#q8">Любимые фразы пользователей?</a></li>
</ul>

<a id="q1"></a><h2>Для чего пользователю ноги?</h2>
<div>Чтобы пинать по системному блоку, отпинывать провода от системного блока, ходить к сисадмину.</div>
<a id="q2"></a><h2>Для чего пользователю руки?</h2>
<div>Чтобы правильно их затачивать, выпрямлять, тыкать ими в Клаву, тыкать в кнопку пауэр, засовывать в принтер вместо
    бумаги, дергать телефонную трубку и нажимать на аппарате всякие незнакомые рычажки(TONE, PULSE, громкость звонка в
    офф).
</div>
<a id="q3"></a><h2>Для чего пользователю рот?</h2>
<div>Для дачи правильных указаний сисадмину и советов без которых сисадмин просто сидит и кусает локти не зная, что
    дальше делать. Ну не знает он и все - это аксиома.
</div>
<a id="q4"></a><h2>Для чего пользователю уши?</h2>
<div>Чтобы закрывать их подобно листьям лопуха, дабы не слышать мат сисадмина по поводу очередного оторванного провода
    кривыми ногами (почему большинство всех пользователей раньше были ковбоями или жили на фермах с№%?ки е№%%й в р;%:т).
</div>
<a id="q5"></a><h2>Зачем пользователи ходят на обед за рабочим местом?</h2>
<div>Для того чтобы смягчить это надоедливое щелканье клавиатуры чем-нибудь вкусным.</div>
<a id="q6"></a><h2>Какие вопросы любят задавать пользователи?</h2>
<div>А что это за ерунда, а как включить процессор, почему у меня ничего не печатает, почему у меня ничего не видно,
    почему у меня ничего не работает, зайдите в меня (удаленное управление компом), а куда я зашла, а что я сделала, а
    где все компьютеры, а где я, а как я называюсь, почему я такая дура?
</div>
<a id="q7"></a><h2>Что нужно пользователям для полного счастья?</h2>
<div>Чтобы с их подохшим компом сисадмин возился больше чем с компами других, тогда этим можно будет хвастаться и
    щеголять перед другими сотрудниками.
</div>
<a name="q8" id="q8"></a><h2>Любимые фразы пользователей?</h2>
<div>Игорь, тьфу ты, как тебя там, ну иди смотри мой процессор.</div>
