<style>
    .login-form-container {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -200px;
        width: 400px;
    }

    .login-form-container input {
        font-size: 28px;
        height: 58px;
        text-align: center;
    }

</style>

<div class="login-form-container clearfix">
    <form ng-show="!isLogged">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{'certificate id'|translate}}"
                   ng-model="sertId" maxlength="16"/>
        </div>
    </form>
    <div class="alert alert-info text-center" ng-show="isLogged" translate="login successful"></div>
</div>

