<style>
    .want-btn-container {
        margin-top: 20px;
    }

</style>


<div class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4">
    <img ng-src="{{product.img}}"/>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
    <h3 ng-bind="product.name"></h3>

    <div ng-bind="product.description"></div>
    <div class="clearfix">
        <h4 translate="categories"></h4>

        <div class="tag" ng-repeat="category in product.categories">
            <a ui-sref="categories.view({id:category.id})" ng-bind="category.name"></a>
        </div>
    </div>
    <div class="clearfix">
        <h4 translate="measures"></h4>

        <div class="tag" ng-repeat="measure in product.measures">
            <a ui-sref="measures.view({id:measure.id})" ng-bind="measure.name"></a>
        </div>
    </div>
</div>
<div class="want-btn-container col-xs-12 text-center">
    <button class="gs-btn btn btn-success col-xs-offset-4 col-xs-4" ng-click="go('order', {product_id:product.id})"
            ng-disabled="spent">
        Хочу!
    </button>
</div>
